beautifulsoup4==4.11.2
cachetools==5.3.0
certifi==2022.12.7
charset-normalizer==3.0.1
crypto==1.4.1
eventemitter==0.2.0
gevent==22.10.2
gevent-eventemitter==2.1
google==3.0.0
google-api-core==2.11.0
google-api-python-client==2.75.0
google-auth==2.16.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.58.0
greenlet==2.0.2
httplib2==0.21.0
idna==3.4
msgpack==1.0.4
Naked==0.1.32
protobuf==3.20.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycryptodome==3.17
pycryptodomex==3.17
pyparsing==3.0.9
python-decouple==3.7
PyYAML==6.0
requests==2.28.2
rsa==4.9
shellescape==3.8.1
six==1.16.0
soupsieve==2.3.2.post1
steam==1.4.4
uritemplate==4.1.1
urllib3==1.26.14
vdf==3.4
zope.event==4.6
zope.interface==5.5.2
